/*
 * Estilos específicos para terraza1.php
 */

.sala-layout.terraza1 {
    /* RUTA CORREGIDA
      Sube 1 nivel (de css/ a restaurante/) y entra en img/
    */
    background-image: url('../img/terraza1.png');
}

/* Posicionamiento de las 4 mesas para Terraza 1 */

/* (Mesa T1-1) */
#mesa-1 {
    top: 20%;
    left: 25%;
}

/* (Mesa T1-2) */
#mesa-2 {
    top: 20%;
    left: 65%;
}

/* (Mesa T1-3) */
#mesa-3 {
    top: 60%;
    left: 25%;
}

/* (Mesa T1-4) */
#mesa-4 {
    top: 60%;
    left: 65%;
}